*{
    
    padding: 0;
    margin: 0;
}

body{
    background: url(road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    opacity: 1.8;
}
.box{
    border: 5px solid rgb(70, 69, 69);
    border-radius: 10px;
    width: 50%;
    height: 70%;
    margin: 100px auto;
    background-color: rgb(224, 188, 142);
    background: transparent;
    
}
.container{
    margin: 0px;
 }
/*.container::before{
    content: "";
    position: absolute;
    min-height: 100%;
    background-image: url(road.jpg) ;
    background-repeat: no-repeat;
    /* background: center; */
    /* background-size: 1200px;  
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
    

} */
h1{
    text-align: center;
}
.form{
    /* padding-top: 2px; */
     /* padding-bottom: 2px; */
    padding-left: 5px; 
} 
.box{
    background-color: rgb(17, 17, 18,0.5);
    /* background: transparent; */
    box-shadow: 5px 5px 5px 5px rgba(90, 95, 90, 0.933);
}
h1{
    font-size: 3.2rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans-serif ;
    color: aliceblue;

}
.btn{
    margin-left: 15px;
    font-weight: bold;
    
}
#submit{
    width: 80px;
    height: 25px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 7px;

}
#reset{
    width: 80px;
    height: 25px;
    border: 2px solid black;
    border-radius: 7px;
}
.btn1:hover{
    background-color: grey;
    color: aliceblue;

}
/* .mailage{
    background-color: rgba(250, 235, 215, 0.9);
    color: rgba(0, 0, 0, 0.027);
} */